<table class="table mt-3 mb-5 center-block w-75 mx-auto">
    <h2 class="header mt-3 mb-4 center-block w-75 mx-auto" th:text="'All Viruses'"/>
    <thead>
    <tr>
        <th scope="col" th:text="'#'"/>
        <th scope="col" th:text="'Name'"/>
        <th scope="col" th:text="'Magnitude'"/>
        <th scope="col" th:text="'Released On'"/>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="virus : ${viewModel}" th:object="${virus}">
        <tr>
            <td scope="row" th:text="*{id}"/>
            <td th:text="*{name}"/>
            <td th:text="*{magnitude}"/>
            <td th:text="${#temporals.format(virus.getReleasedOn(), 'dd-MMM-yyyy')}"/>
            <td>
                <form th:method="get" th:action="@{/viruses/edit/{id}(id=*{id})}">
                    <button type="submit" class="btn btn-light btn-sm border-dark"
                            th:text="'Edit'"/>
                </form>
            </td>
            <td>
                <form th:method="get" th:action="@{/viruses/delete/{id}(id=*{id})}">
                    <button type="submit" class="btn btn-light btn-sm border-dark"
                            th:text="'Delete'"/>
                </form>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>