<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="viewName" type="java.lang.String"*/-->
<head>
    <meta charset="UTF-8">
    <meta username="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="ResidentEvil"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<h1 class="text-center">Add Sale</h1>
<br><hr><br>
<div class="container align-content-lg-center">
    <div class="col-lg-5 align-content-lg-center">
        <form action="/sales/add" method="post">
            <div class="form-group">
                <label for="customer">Customer</label>
                <select id="customer" name="customer">
                    <th:block th:each="customer : ${viewModel.get(0)}" th:object="${customer}">
                        <option class="dropdown-item" th:text="*{name}" th:value="*{id}"/>
                    </th:block>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="car">Cars</label>
                <select id="car" name="car">
                    <th:block th:each="car : ${viewModel.get(1)}" th:object="${car}">
                        <option class="dropdown-item" th:text="'' +*{make} + ' ' + *{model} + ' ' + *{traveledDistance} + 'km'" th:value="*{id}"/>
                    </th:block>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="discount">Discount</label>
                <input type="number" step=".01" id="discount" name="discount">
            </div>
            <br>
            <button type="submit" class="btn btn-primary align-content-lg-center">Add</button>
        </form>
    </div>
</div>